@use 'config' as c;

.artGrid{

    width: 100%;

    display: grid;
    gap: 2rem;
    grid-auto-rows: auto;
    grid-auto-columns: auto;
    grid-template-areas:
    'area01'
    'area02'
    'area03'
    'area04'
    'area05'
    'area06'
    ;

    @media only screen and (min-width:c.$tablet){

        width: 80%;

        grid-template-areas:
            'area01'
            'area02'
            'area03'
            'area04'
            'area05'
            'area06'
            ;
    }


    >div{

        &:nth-of-type(1){
            grid-area: area01;
        }
        &:nth-of-type(1){
            grid-area: area02;
        }
        &:nth-of-type(1){
            grid-area: area03;
        }
        &:nth-of-type(1){
            grid-area: area04;
        }
        &:nth-of-type(1){
            grid-area: area05;
        }
        &:nth-of-type(1){
            grid-area: area06;
        }

        img{

            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

}