@use 'config' as c;

.art03{

    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 2rem;

    @media only screen and (min-width: c.$tablet){

        width: 80%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    >div{

        width: 100%;
        padding: 0 1.5rem;
        
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        @media only screen and (min-width: c.$tablet){

            width: 50%;
            padding: initial;
            padding-right: 1.5rem;


        }

        >h3{

            text-align: center;
            padding: 1.5rem;
            align-self:center;

            @media only screen and (min-width: c.$tablet){

                align-self: flex-start;



            }
        }

        >p {

            padding: 1.5rem;
        }

    }

    >img {

        width: 100%;



        @media only screen and (min-width: c.$tablet) {

            width: 50%;
        }


    }

    
}