@use 'config' as c;

.art02 {

    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 1.5rem;

    @media only screen and (min-width: c.$tablet) {

        padding: initial;
        
    }

    @media only screen and (min-width: c.$desktop) {

        width: 80%;
        padding: 3rem;
        
    }

    >:nth-child(1) {

        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center ;
        justify-content: flex-start;
        row-gap: 1.5rem;

        @media only screen and (min-width:c.$tablet) {

            width: 80%;
        }



    }

    >:nth-child(2) {

        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 1.5rem;
        padding: 1.5rem;

        @media only screen and (min-width:c.$tablet){

            flex-direction: row;
            column-gap: 1.5rem;
        }

        .item {

            width: 100%;
            position: relative;
            // height: calc(100dvw - 3rem);
            aspect-ratio: 1 / 1;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &:hover{

                >:nth-child(1){

                    filter: opacity(1);
                    transition: 1s;
                    top: 20%;
                    

                }                

                p{

                    filter: opacity(1);
                    background-color: rgba(0, 0, 0, 0.404);


                }

                img{
                    filter: grayscale(1);
                    transform: scale(1.2);
                    transition: 1s;
                }
            }

            >:nth-child(1) {

                color: c.$color01;
                position: absolute;
                z-index: 100;
                font-size: clamp(2rem, 3vw, 5rem);
                text-align: center;
                text-shadow: 0 0 4px rgba(7, 7, 7, 0.596);

                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: .5s;

            }

            >p{

                position: absolute;
                top: 50%;
                z-index: 100;
                transform: translateY(-50%);
                background-color: rgba(0, 0, 0, 0.404);
                filter: opacity(0);
                color: c.$color01;
                padding: 1.5rem;
                backdrop-filter: blur(2px);

            }

            img{

                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                filter: grayscale(0);
                transition: .5s;

                
            }


        }
        
    }

}

    

    

